:root {
  color-scheme: only dark;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 1.6rem;
}

* {
  box-sizing: border-box;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.ReactModal__Overlay {
  background-color: rgba(255, 255, 255, 0.08) !important;
  display: grid;
  place-items: center;
  padding: 1rem;
}

.demos > * {
  margin-bottom: 1rem;
}

.ReactModal__Content {
  position: unset !important;
  inset: unset !important;
  background-color: Canvas !important;
  color: CanvasText !important;
  border-radius: 1.5rem !important;
  border: 2px solid skyblue !important;
  padding: 1.5rem !important;
  width: 100%;
  max-width: 30rem;
  min-height: 15rem;
  display: grid;
  box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.1);
}

.dialog {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.dialog > * + * {
  margin: 1em 0 0;
}

.dialog__title {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.dialog__actions {
  justify-self: flex-end;
  display: flex;
  gap: 0.5rem;
}

.button {
  height: 2.5rem;
  min-width: 2.5rem;
  padding: 0 1rem;
  border-radius: 1.25rem;
  border: 0;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  transition: all 0.125s ease-in-out;
}

.button__left {
  width: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-0.5rem);
  font-size: 1.5rem;
}

.button__right {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0.5rem);
  font-size: 1.2rem;
}

.button--primary {
  background-color: skyblue;
  color: rgba(0, 0, 0, 0.8);

  &:hover {
    color: black;
  }
}

.button--secondary {
  background-color: transparent;
  opacity: 0.9;

  &:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.08);
  }
}

.accordion-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 35rem;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion__summary {
  display: flex;
  justify-content: space-between;
  box-shadow: none;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.08);
  font-weight: bold;
}

.accordion__icon {
  transform: rotate(0);
  transition: transform 0.12s ease-in-out;
}

.accordion__details {
  padding: 1rem;
  border-radius: 1.5rem;
  display: none;
}

.accordion--open {
  background-color: rgba(255, 255, 255, 0.12);
  color: black;
  border-radius: 1rem;

  & .accordion__summary {
    color: skyblue;
  }

  & .accordion__icon {
    transform: rotate(-90deg);
  }

  & .accordion__details {
    color: white;
    display: block;
  }
}
