:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  color-scheme: only dark;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.ReactModal__Overlay {
  background-color: rgba(255, 255, 255, 0.08) !important;
  display: grid;
  place-items: center;
  padding: 1rem;
}

.ReactModal__Content {
  position: unset !important;
  inset: unset !important;
  background-color: Canvas !important;
  color: CanvasText !important;
  border-radius: 1.5rem !important;
  border: 2px solid skyblue !important;
  padding: 1.5rem !important;
  width: 100%;
  max-width: 30rem;
  min-height: 15rem;
  display: grid;
}

.dialog {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.dialog > * + * {
  margin: 1em 0 0;
}

.dialog__title {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.dialog__content {
}
